@use "./base.scss";

// put your custom CSS here!
@use "./variables.scss" as *;

.page {
  max-width: 1600px;
}

// Sidebar Styles

@media all and not ($mobile) {
  .page>#quartz-body .left.sidebar {
    padding-right: 1rem;
    border-right: 1px solid var(--lightgray);
  }
}

@media all and ($desktop) {
  .page>#quartz-body .right.sidebar {
    padding-left: 1rem;
    border-left: 1px solid var(--lightgray);
  }
}

// Sidebar Components

.search {
  >.search-button {
    background-color: transparent;
    width: auto;
    height: 0;

    & svg {
      margin: 0.2rem 0 0;
    }
  }
}

.readermode {
  & svg {
    fill: var(--darkgray);
  }
}

@media all and ($desktop) {
  .right.sidebar {
    .toc {
      max-height: 40vh;
      overflow-y: hidden;
    }
  }
}

// Header Styles

@media all and ($mobile) {
  .popover-hint {
    > :is(h1, div) {
      text-align: center;
    }

    >ul.tags {
      justify-content: center;
    }
  }
}

// Footer Styles

footer ul {
  margin-top: 0;
}

.footer-text {
  padding-top: 0.5rem;
  font-size: 0.9rem;

  .line-group {
    display: inline;
    padding-block: 0.2rem;
  }
}

.line-group.line-3 {
  display: block;
}

@media all and ($mobile) {
  footer {
    text-align: center;

    ul {
      justify-content: center;
    }
  }

  .footer-text {
    .line-group {
      display: block;
    }
  }
}

// Frontmatter Styles

.frontmatter-content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-weight: 400;
}

.content-meta {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}

.content-meta-title {
  white-space: nowrap;
  font-weight: 600;
}

.content-meta-value {
  text-align: left;
}

@media all and ($mobile) {
  .frontmatter-content {
    align-items: center;
  }

  .content-meta.date-meta {
    flex-direction: column;
    gap: 0;
  }

  .date-meta .date-separator {
    display: none;
  }
}

// Custom Line Separator

article hr {
  overflow: visible;
  padding: 0;
  height: 0;
  margin: 2em auto;
  border: none;
  text-align: center;
  width: 100%;

  &:after {
    content: "* * *";
    display: inline-block;
    margin: -1em 0 0.5em;
    font-size: 1.5em;
    padding: 0.5em 1em;
    color: var(--gray);
  }
}

hr {
  margin: 4em auto;
}

// Table Hover Highlight

.table-container {
  >table {
    margin: 0;
    padding: 0;

    tr:hover td {
      background-color: var(--highlight);
    }

    >* {
      line-height: 1.5rem;
    }
  }
}

// Heading Link Highlight

article {
  > :is(h1, h2, h3, h4, h5, h6) {
    >a {
      &.internal {
        background-color: var(--highlight);
        color: var(--secondary);

        &:hover {
          color: var(--tertiary);
        }
      }
    }
  }
}

// External Link Styles

article {
  a {
    &.external {
      text-decoration: underline;

      .external-icon {
        height: 0;
      }
    }
  }
}

a {
  font-weight: 400;
}

// Tag Link Styles

a.internal.tag-link::before {
  content: "";
}

a.internal.tag-link {
  border-radius: 20px;
  padding: .25rem .8rem;
}

// Heading Sizes

.article-title {
  font-size: 1.8rem;
  font-weight: 700;
}

article {
  h1 {
    font-size: 1.8rem;
    font-weight: 700;
    padding-top: 1rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.42rem;
  }

  h4 {
    font-size: 1.26rem;
  }

  h5,
  h6 {
    font-size: 1.12rem;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
    padding-top: 1rem;
  }

  :is(h1, h2, h3, h4, h5, h6)+ :is(h1, h2, h3, h4, h5, h6) {
    padding-top: 0;
  }
}

// Body Styles

article {
  * {
    word-break: normal;
    overflow-wrap: normal;
    hyphens: none;
  }
}

// Popover Element Show Delay

a:hover .popover,
.popover:hover {
  animation-delay: 0.4s;
}

// Image Styles

article img {
  display: block;
  margin-inline: auto;
}

article p>img+em {
  text-align: center;
  color: var(--darkgray);
}

// Tracker Table Styles

.cards {
  :root[saved-theme="dark"] {
    --image-muted: 0.7;
  }

  :root[saved-theme="light"] {
    --image-muted: 1;
  }

  --cards-min-width: 180px;
  --cards-max-width: 200px; // 1fr
  --cards-image-height: 300px;
  --cards-aspect-ratio: 2/3;
  --cards-columns: repeat(auto-fit, minmax(var(--cards-min-width), var(--cards-max-width)));

  --cards-background: transparent;
  --cards-border: var(--lightgray);
  --border-width: 1px;

  @media all and (max-width: 500px) {
    --cards-min-width: 100px;
  }

  @media all and ($mobile) {
    --cards-min-width: 120px;
  }

  table {
    margin: auto;
    font-size: 0.8rem;

    thead {
      display: none;
    }

    tbody {
      padding: 0.5rem 0;
      display: grid;
      grid-template-columns: var(--cards-columns);
      grid-column-gap: 0.75rem;
      grid-row-gap: 0.75rem;

      @media all and (max-width: 500px) {
        --cards-columns: repeat(2, minmax(0, 1fr));
      }

      @media all and (min-width: 500px) and (max-width: 1000px) {
        --cards-columns: repeat(3, minmax(0, 1fr));
      }

      @media all and (min-width: 1000px) and (max-width: 1440px) {
        --cards-columns: repeat(4, minmax(0, 1fr));
      }

      @media all and (min-width: 1440px) and (max-width: 1600px) {
        --cards-columns: repeat(5, minmax(0, 1fr));
      }

      @media all and (min-width: 1600px) {
        --cards-columns: repeat(6, minmax(0, 1fr));
      }

      >tr {
        >td {
          &:not(:first-child) {
            @media (max-width: 400pt) {
              font-size: 80%;
            }
          }
        }
      }
    }

    >tbody {
      >tr {
        border: 1px solid var(--cards-border);
        display: flex;
        flex-direction: column;
        border-radius: 6px;
        transition: box-shadow 0.15s linear;
        max-width: var(--cards-max-width);

        &:hover {
          box-shadow:
            0 4px 6px 0px rgba(0, 0, 0, 0.05),
            0 1px 3px 1px rgba(0, 0, 0, 0.025);
          transition: box-shadow 0.15s linear;
        }

        >td {
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          white-space: initial;
          flex: 1 1 0;

          &:not(:last-child) {
            border-bottom: 1px solid var(--cards-border);
          }

          a {
            &.internal {
              background-color: var(--cards-background);
            }
          }

          >ul {
            width: 100%;
            padding: 0.1em 0;
            margin: 0 auto;
            list-style: disc inside;
          }

          &:has(> img) {
            padding: 0;
            display: block;
            margin: 0;
            width: 100%;
          }

          img {
            aspect-ratio: var(--cards-aspect-ratio);
            width: 100%;
            max-height: var(--cards-image-height);
            vertical-align: bottom;
            opacity: var(--image-muted);

            &:hover {
              opacity: 1;
            }
          }

          .popover {
            img {
              width: auto;
            }
          }
        }
      }
    }
  }
}

// Table Styles Reset in Popover

.popover .cards {
  thead {
    display: table-header-group !important;
  }

  tbody {
    display: table-row-group !important;
  }

  tr {
    display: table-row !important;
  }

  td {
    display: table-cell !important;
    border: 1px solid var(--lightgray);
    text-align: left;
    white-space: nowrap;
    padding: 0.2rem 0.6rem;
  }

  td img {
    width: auto !important;
    max-width: 92px;
  }
}

// Other Table Styles

.table-wide {
  table {
    display: block;
    overflow-x: auto;
    max-width: fit-content;
    white-space: nowrap;
  }
}

.table-row-numbers {
  table {
    counter-reset: rowNumber;

    tr {
      td:first-child {
        counter-increment: rowNumber;
      }

      td:first-child::before {
        content: counter(rowNumber) ".";
      }
    }
  }
}

.table-lines {
  table {
    tr {
      td {
        border-left: 1px solid var(--lightgray);
        border-bottom: 1px solid var(--lightgray);

        &:last-of-type {
          border-right: 1px solid var(--lightgray);
        }
      }
    }
  }
}
