name: Deploy Media Tracker to Cloudflare
run-name: Build on ${{ github.ref_name }} by @${{ github.actor }}

on:
  push:
    branches: [main, dev]
    paths-ignore:
      - "tracker-vault/.obsidian/**"

jobs:
  media-tracker:
    name: Media Tracker Deployment
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Quartz
        id: checkout-quartz
        uses: actions/checkout@v4
        with:
          repository: jackyzha0/quartz
          ref: f346a01296e5bdbd19de38fa69968b42629b883d
          fetch-depth: 0
          path: quartz
      - name: Checkout Repository
        id: checkout-repository
        uses: actions/checkout@v4
        with:
          path: source
      - name: Build Media Tracker
        id: build-media-tracker
        uses: ./source/.github/actions
      - name: Cloudflare Deploy
        id: cloudflare-deploy
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: pages deploy quartz/public --project-name=my-digital-tracker --branch=${{ github.ref_name }}
